@model System.Web.Mvc.HandleErrorInfo

@section header
{
    <div>
        <ul class="nav nav-pills pull-right">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <h3 class="muted">Caburn Accountants Ltd</h3>
    </div>
}

<hgroup>

    <h2 class="error">Sorry :( </h2>
    <h2>An error occurred while attempting to serve the resource you requested.</h2>
</hgroup>
